<% include forms/header %>

<div class="back-link">
    <a href="/admin" class="btn btn-primary">Back</a>
</div>
<div class="register-container animate-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Create User</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                        <form action="/admin/user/new" id="loginForm" method="POST">
                            <div class="row">
                            <div class="form-group col-lg-6">
                                <label>Email</label>
                                <input type="" value="" id="" class="form-control" name="email" required>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Username</label>
                                <input type="" value="" id="" class="form-control" name="username" required>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>First Name</label>
                                <input type="" value="" id="" class="form-control" name="first_name" required>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Last Name</label>
                                <input type="" value="" id="" class="form-control" name="last_name" required>
                            </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>The_ReFactory</strong> <br/> Migration Analytics - Simplified <br/> 2017
        </div>
    </div>
</div>

<% include forms/footer %>
