<!-- Vendor scripts -->
<script src="../../../stylesheets/vendor/jquery/dist/jquery.min.js"></script>
<script src="../../../stylesheets/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="../../../stylesheets/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../../stylesheets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../../stylesheets/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="../../../stylesheets/vendor/iCheck/icheck.min.js"></script>
<script src="../../../stylesheets/vendor/sparkline/index.js"></script>

<!-- App scripts -->
<script src="../../../javascripts/homer.js"></script>

</body>
</html>
