<!-- Vendor scripts -->
<script src="../../stylesheets/vendor/jquery/dist/jquery.min.js"></script>
<script src="../../stylesheets/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="../../stylesheets/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../stylesheets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../stylesheets/vendor/jquery-flot/jquery.flot.js"></script>
<script src="../../stylesheets/vendor/jquery-flot/jquery.flot.resize.js"></script>
<script src="../../stylesheets/vendor/jquery-flot/jquery.flot.pie.js"></script>
<script src="../../stylesheets/vendor/flot.curvedlines/curvedLines.js"></script>
<script src="../../stylesheets/vendor/jquery.flot.spline/index.js"></script>
<script src="../../stylesheets/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="../../stylesheets/vendor/iCheck/icheck.min.js"></script>
<script src="../../stylesheets/vendor/peity/jquery.peity.min.js"></script>
<script src="../../stylesheets/vendor/sparkline/index.js"></script>
<script src="../../stylesheets/vendor/chartjs/chart.min.js"></script>
<script src="../../stylesheets/vendor/sweetalert/lib/sweet-alert.min.js"></script>
<script src="../../stylesheets/vendor/toastr/build/toastr.min.js"></script>

<!-- App scripts -->
<script src="../../javascripts/homer.js"></script>
<script src="../../javascripts/charts.js"></script>

<script>


    $(function(){
        var lineData = {
            labels: ["January", "February", "March", "April"],
            datasets: [
                {
                    label: "Example dataset",
                    backgroundColor: "rgba(98,203,49,0.5)",
                    borderColor: "rgba(98,203,49,0.7)",
                    pointBackgroundColor: "rgba(98,203,49,1)",
                    pointBorderColor: "#fff",
                    pointHoverBackgroundColor: "#fff",
                    pointHoverBorderColor: "rgba(26,179,148,1)",
                    data: [17,21,19,24]
                }
            ]
        };
        var lineOptions = {
            responsive: true,
            legend: {
                display: false
            }
        };
        var ctx = document.getElementById("lineOptions").getContext("2d");
        new Chart(ctx, {type: 'line', data: lineData, options:lineOptions});


    });

</script>

</body>
</html>
