<!-- Vendor scripts -->
<script src="../../stylesheets/vendor/jquery/dist/jquery.min.js"></script>
<script src="../../stylesheets/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="../../stylesheets/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<script src="../../stylesheets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../stylesheets/vendor/jquery-flot/jquery.flot.js"></script>
<script src="../../stylesheets/vendor/jquery-flot/jquery.flot.resize.js"></script>
<script src="../../stylesheets/vendor/jquery-flot/jquery.flot.pie.js"></script>
<script src="../../stylesheets/vendor/flot.curvedlines/curvedLines.js"></script>
<script src="../../stylesheets/vendor/jquery.flot.spline/index.js"></script>
<script src="../../stylesheets/vendor/metisMenu/dist/metisMenu.min.js"></script>
<script src="../../stylesheets/vendor/iCheck/icheck.min.js"></script>
<script src="../../stylesheets/vendor/peity/jquery.peity.min.js"></script>
<script src="../../stylesheets/vendor/sparkline/index.js"></script>
<script src="../../stylesheets/vendor/sweetalert/lib/sweet-alert.min.js"></script>
<script src="../../stylesheets/vendor/toastr/build/toastr.min.js"></script>

<!-- App scripts -->
<script src="../../javascripts/homer.js"></script>
<script src="../../javascripts/charts.js"></script>

<script>
  $('.logout').click(function() {
    swal({
        title: "Logging you off",
        text: "Are you sure?",
        type: "error",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, log off!",
        cancelButtonText: "No, lets stay!",
        closeOnConfirm: false,
        closeOnCancel: false
      },
      function(isConfirm) {
        if (isConfirm) {
          swal("Bye Champ", "See you soon!", "success");
          setTimeout(
            function() {
              window.location.href = "http://therefactory.herokuapp.com/auth/logout"
              //window.location.href = "http://localhost:3000/auth/logout"
            }, 1000);
        } else {
          swal({
            title: "Glad to see you stay!",
            text: "We were about to lose out shit",
            imageUrl: "../images/tacogif.gif"
          });
        }
      });
  });
</script>
</body>

</html>
